<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"> 

<html> 
  <head> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
 
    <!-- <script type="text/javascript" src="http://openspace.ordnancesurvey.co.uk/osmapapi/openspace.js?key=7713B6D550C700BCE0405F0AF1603C2F"> </script> -->
    <script type="text/javascript" src="http://nawab.woaf.net/OpenLayers-2.8/OpenLayers.js"> </script>
    <!--<script type="text/javascript" src="http://openlayers.org/api/OpenLayers.js"> </script>-->
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.js"> </script> <!-- TODO add min to this url -->

    <link rel="stylesheet" type="text/css" href="css/main.css" /> 
  </head> 
  <body  onload="init()"> 
  <div id="map" style="width: 100%;"></div> 
  <div id="statusDiv" style="width: 100%;"></div> 
    <!-- AJAX -->
    <script type="text/javascript">
      function startUpload(layer) {
        var data = { gml:new OpenLayers.Format.GML().write(layer.features), };
        var args = { type:"POST", url:"/gml/store", data:data, complete:doneUpload };
	$.ajax(args);
	$("#statusDiv").innerHtml="Uploading...";
      }

      function doneUpload() {
	$("#statusDiv").innerHtml="Uploaded.";
      }

    </script>
    <!-- OpenLayers -->
    <script type="text/javascript">
        var map, select;
        var controls, vectors;

        function init(){
            var options = {
                units: "m",
//                maxResolution: 156543.0339,
//                maxExtent: new OpenLayers.Bounds(-20037508.34, -20037508.34,
//                                                 20037508.34, 20037508.34),
                controls: [
                             new OpenLayers.Control.LayerSwitcher(),
                             new OpenLayers.Control.Attribution(),
//                             new OpenLayers.Control.MousePosition(),
                             new OpenLayers.Control.PanZoomBar(),
                           ]
            };
            map = new OpenLayers.Map('map', options);
            var mapnik = new OpenLayers.Layer.TMS(
                "OpenStreetMap (Mapnik)",
                "http://tile.openstreetmap.org/",
                {
                    type: 'png', getURL: osm_getTileURL,
                    displayOutsideMaxExtent: true,
                    attribution: '<a href="http://www.openstreetmap.org/">OpenStreetMap</a>'
                }
            );
            var gmap = new OpenLayers.Layer.Google("Google", {sphericalMercator:true});

            vectors = new OpenLayers.Layer.Vector("Annotations");

	    {% if params.load_id %}
	    var gmlData = OpenLayers.Request.GET({async: false, url: "http://nawab.woaf.net:8099/gml/{{ params.load_id }}/get"}).responseText;
	    vectors.features = new OpenLayers.Format.GML().read(gmlData);
            {% endif %}

            map.addLayers([mapnik, vectors/*, gmap, sundials*/]);


            var editControls = [
             new OpenLayers.Control.DrawFeature(vectors, OpenLayers.Handler.Point, {'displayClass': 'olControlDrawFeaturePoint', multi: true}),
             new OpenLayers.Control.DrawFeature(vectors, OpenLayers.Handler.Path, {'displayClass': 'olControlDrawFeaturePath', multi: true}),
             new OpenLayers.Control.DrawFeature(vectors, OpenLayers.Handler.Polygon, {'displayClass': 'olControlDrawFeaturePolygon', multi: true}),
	     new OpenLayers.Control.Button({
                title: "Save changes",
		trigger: function(){
		  startUpload(vectors);
                },
                displayClass: "olControlSaveFeatures"
              }),
            ];

            var navControls = [
             new OpenLayers.Control.Navigation(),
            ];


            var toolbar = new OpenLayers.Control.Panel({displayClass: 'olControlEditingToolbar', defaultControl: navControls[0]});
            toolbar.addControls(navControls);
            toolbar.addControls(editControls);
            map.addControl(toolbar);

            map.addControl(new OpenLayers.Control.Permalink());

            map.setCenter(new OpenLayers.LonLat(-1, -25), 6);

        }

        function osm_getTileURL(bounds) {
            var res = this.map.getResolution();
            var x = Math.round((bounds.left - this.maxExtent.left) / (res * this.tileSize.w));
            var y = Math.round((this.maxExtent.top - bounds.top) / (res * this.tileSize.h));
            var z = this.map.getZoom();
            var limit = Math.pow(2, z);

            if (y < 0 || y >= limit) {
                return OpenLayers.Util.getImagesLocation() + "404.png";
            } else {
                x = ((x % limit) + limit) % limit;
                return this.url + z + "/" + x + "/" + y + "." + this.type;
            }
        }
    </script>
  </body>
</html>
